.header {
  width: 100%;
}

.header-component {
  align-items: center;
  background-color: rgb(243, 233, 198);
  border-bottom: 2px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  height: auto;
  justify-content: space-around;
  width: 100%;
}

.header-component label {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Courier Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 800;
}

.header-component p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 800;
  padding-left: 0.5em;
}

.wallet-form {
  float: left;
  width: 25%;
}

.wallet-form-component {
  align-content: start;
  align-items: start;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding-left: 2em;
  padding-top: 2em;
}

.wallet-form-component label {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: 800;
}

.wallet-form-component input {
  border: 1px solid black;
  border-radius: 3px;
  height: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  transition: transform 0.3s ease;
  width: 100%;
}

.wallet-form-component input:hover {
  transform: scale(1.1);
}

.wallet-form-component select {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: 600;
  height: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  transition: transform 0.3s ease;
  width: 14.5em;
}

.wallet-form-component select:hover {
  transform: scale(1.1);
}

.wallet-form-component button {
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 600;
  height: 3em;
  margin-top: 1em;
  min-width: 6em;
  transition: transform 0.3s ease;
  width: 50%;
}

.wallet-form-component button:hover {
  transform: scale(1.1);
}

.wallet-table {
  display: flex;
  padding-right: 2em;
  padding-top: 2em;
  width: 72%;
}

.wallet-table table {
  border: 2px solid black;
  border-collapse: collapse;
}

.wallet-table thead {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.wallet-table tbody {
  background-color: rgb(243, 233, 198);
}

.wallet-table th , .wallet-table td {
  border-bottom: 2px solid black;
  padding: 0.5em;
  text-align: center;
}

.delete-btn {
  padding-right: 2em;
}


@media ( max-width : 768px ) {

  .header-component {
    flex-direction: column-reverse;
    height: auto;
  }

  .header-component label {
    margin-bottom: 0.5em;
  }

  .header-component p {
    padding-left: 0.5em;
  }

  .header-component img {
    margin-bottom: -0.5em;
    width: 100%;
  }

  .wallet-form {
    width: 100%;
  }

  .wallet-table tr {
    display: flex;
    flex-flow: column wrap;
  }

  .wallet-table th {
    display: flex;
    flex-flow: column wrap;
  }

  .wallet-table table {
    width: 100%;
  }
}
